<!DOCTYPE html>
<html>
    <head>
        <title>Markdown Blog</title>
    </head>
    <body>
        <h1>Tevin's Blog</h1>
        {{ range . }}
            <a href="/{{ .File }}"><h2> {{ .Title }} ({{ .fDate }})</h2></a>
            <p>{{ .Summary }}</p>
        {{end}}
    </body>
</html>