<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <ul>
        {{range .}}
           <li>{{ uc .Name }}</li>
        {{end}}
        </ul>

        <ul>
        {{ range . }}
            <li> {{ ft .Name }} </li>
        {{end}}
        </ul>
    </body>
</html>